USE [master]
GO
/****** Object:  Database [GSAtend]    Script Date: 14/11/2020 06:59:52 ******/
CREATE DATABASE [GSAtend]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSAtend', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GSAtend.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSAtend_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GSAtend_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSAtend].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSAtend]
GO
/****** Object:  Table [dbo].[Atendimentos]    Script Date: 14/11/2020 06:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataAtendimento] [datetime] NULL,
	[Descricao] [varchar](100) NULL,
	[CPF] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 14/11/2020 06:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[CPF] [varchar](14) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Sexo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atendimentos]  WITH CHECK ADD FOREIGN KEY([CPF])
REFERENCES [dbo].[Pacientes] ([CPF])
GO
USE [master]
GO
