<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GSAtend"
         connectionString="Data Source=TRR-NOTE;User Id=sa;Password=masterkey;Initial Catalog=GSAtend;Integrated Security=false;MultipleActiveResultSets=true;" />
  </connectionStrings>
</configuration>